* {
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    height: 70px;
    background-color: #ff6a00;
}


.header2 {
    background-color: gray;
    height: 70px;
    
}

#pay {
    color: #ffffff;
    float: right;
    margin: 5px -323px 0px 0px;
    padding: 20px;
    font-size: 18px;
    border-radius: 6px;
    background-color: #332f2f;
    border: none;
    cursor: pointer;
    height: 60px;
    
}

#pay:hover {
        background-color: #373434;
        color: white;
        font-weight:bold;
}

#price {
    color: #000000;
    float: right;
    padding: 30px;
    font-weight: bold;
    font-size:22px;
    margin-top: -5px;
    
}

#select{
    color:#000000;
    float: right;
    margin-top: -10px;
    padding: 30px;
    font-weight: bold;
    font-size: 22px;
}

#desc1 {
    text-align:center;
}

#desc2 {
    text-align: center;
}

#desc3 {
    text-align: center;
}

#desc4 {
    text-align: center;
}

.pencil {
    width: 160px;
    background-color: #ffffff;
    padding: 20px;
    margin: auto;
    border-bottom: 1px solid black;
}

.pen {
    width: 160px;
    background-color: #ffffff;
    padding: 20px;
    margin: auto;
    border-bottom: 1px solid black;
}

.backpack {
    width: 160px;
    background-color: #ffffff;
    padding: 20px;
    margin: auto;
    border-bottom: 1px solid black;
}

.notebook {
    width: 160px;
    background-color: #ffffff;
    padding: 20px;
    margin: auto;
    
}

.product img{
    max-width: 100%;
}

.prices {
    font-weight: bold;
    font-size: 16px; 
}

.button {
    border-radius: 12px;
    margin-left: 80px;
    padding: 10px 15px;  
    background-color: #D3D3D3;
    border: none;
    text-align: center;
    font-size: 12px;   
    outline: none;
}

.button:hover {
    background-color: #373434;
    font-weight: bold;
    color: white;
    cursor:pointer;  
}
.products {
    margin-top: 13px;
}



